<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dioxidely</title>
    </head>
    <body>
        <b>
            If you see this, then the backend for Carbonly is operating successfully!
        </b>
    </body>
</html>