<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dioxidely</title>
    </head>
    <body>
        <b>
            If you see this, then the backend for Carbonly is operating successfully!
        </b>
        <h2>Login Form</h2>
        <form action="/login" method="post">
            <div>
                <label>Username:</label>
                <input type="text" name="username"/>
            </div>
            <div>
                <label>Password:</label>
                <input type="password" name="password"/>
            </div>
            <div>
                <input type="submit" value="Log In"/>
            </div>
        </form>
    </body>
</html>